name: Deploy to Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Install surge
      run: |
        npm install --global surge

    - name: Deploy on surge
      run: |
        surge --project ./ --domain {{ env.SURGE_SUBDOMAIN }} -- ${{ secrets.SURGE_API_KEY }}